pkgbase = f3note
	pkgdesc = A fast, minimal tabbed text editor for Wayland
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/f360c4/f3note
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gtk4
	depends = gtksourceview5
	options = !lto
	source = f3note-1.0.2.tar.gz::https://github.com/f360c4/f3note/releases/download/v1.0.2/f3note-1.0.2.tar.gz
	sha256sums = 6403b28fe5af9bad61d90b8f8bd4f8b5dc40deecc135cd3617f8fbc359a864a1

pkgname = f3note
